@import models.Database.User
@(page: String, isLoggedIn: Boolean, user: User)

@main(page, isLoggedIn, user) {

    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/profile-page.css")' />

    @helper.form(action = routes.TestFileUploadController.upload, 'enctype -> "multipart/form-data") {
        <div class="container">

            <div class="row">
                <div class="col-md-4 text-center"><h1>Max Mustermann</h1></div>
            </div>

            <div class="row">
                <div class="col-md-4"><!--left col-->

                    <div class="row">
                        <div class="col text-center">
                            <img src='@routes.Assets.versioned("images/avatar_2x.png")' class="avatar img-circle img-thumbnail" alt="avatar">
                            <h6>Neues Bild hochladen</h6>
                            <input type="file" name="profile_picture" id="profile_picture">
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item text-muted">Webseite <i class="fa fa-dashboard fa-1x"></i></li>
                                <li class="list-group-item text-left"><a href="http://bootnipets.com">bootnipets.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                                <li class="list-group-item text-left"><strong>Posts</strong><span class="pull-right"> XXX</span></li>
                            </ul>
                        </div>
                    </div>

                </div><!--/left col-->

                <div class="col-md-8"><!--right col-->
                        <div class="row">

                            <div class="col">
                                <div class="form-group">
                                    <label for="first_name"><h4>Vorname</h4></label>
                                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Vorname" title="Vorname eingeben">
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="last_name"><h4>Nachname</h4></label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Nachname" title="Nachname eingeben">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="email"><h4>E-Mail</h4></label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="you.at.mail.com" title="E-Mail eingeben">
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col">
                                <div class="form-group">
                                    <label for="password"><h4>Passwort</h4></label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Passwort" title="Passwort eingeben">
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="password2"><h4>Passwort bestätigen</h4></label>
                                    <input type="password" class="form-control" name="password2" id="password2" placeholder="Passwort bestätigen" title="Passwort bestätigen">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col">
                                <div class="form-group">
                                    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Speichern</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Zurücksetzen</button>
                                </div>
                            </div>

                        </div>
                    <hr>

                </div><!--/right col-->

            </div><!--/row-->
        </div><!--/container-->
    }
}