@()

<div id="registrationIndex_content">
    <div class="container">

        <h4>Einen Account erstellen</h4>

        <div class="row">
            <div class="col-2"></div>

            <div class="col">
                <div class="row">
                    <div class="col">
                        <label for="registrationIndex_in_email">Zum registrieren geben Sie ihre E-Mail ein.</label>
                        <input type="text" id="registrationIndex_in_email" class="form-control input-sm chat-input"
                               placeholder="E-mail"
                               title='Bitte geben Sie ihre E-Mail ein.' />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col">
                        <button id="registrationIndex_btn_ok" type="button" class="btn btn-lg btn-primary btn-block"><i class="fa fa-check-circle"></i> Ok</button>
                    </div>
                    <div class="col">
                        <button id="registrationIndex_btn_cancel" type="button" class="btn btn-lg btn-danger btn-block"><i class="fa fa-ban"></i> Abbrechen</button>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>
        </div>

    </div><!--/container-->

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/registrationIndex.js")'></script>

</div>