@import models.Database.Project
@import models.Database.User
@(aProject: Array[Project], page: String, isLoggedIn: Boolean, user: User)

@main(page, isLoggedIn, user) {
    <h1>DB Test!</h1>

    @if(aProject == null) {
        Keine Daten vorhanden.
    } else {
        <ul>
            @aProject.map { p =>
                <li>ID: @p.getId Name: @p.getName(), Beschreibung: @p.getBeschreibung(), Ownerid: @p.getOwnerid(), Teilnehmerliste: @p.getUserList, MessageBoardID: @p.getMessageBoardID</li>
            }
        </ul>
    }
}