@()
@main("Welcome to Play") {
    @helper.form(action = routes.TestMailController.submit(), 'enctype -> "multipart/form-data") {
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        Sie wollen eine Mail verschicken?
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="you.at.mail.com" title="E-Mail eingeben">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                            Senden</button>
                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                            Abrechen</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <hr>

    <h3>Dialog Tests</h3>

    <button  id="btn-success" type="button" class="btn btn-secondary">Success</button>
    <button  id="btn-info" type="button" class="btn btn-primary">Info</button>
    <button  id="btn-error" type="button" class="btn btn-secondary">Error</button>
    <button  id="btn-warn" type="button" class="btn btn-secondary">Warn</button>



        <!-- Modal -->
    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalDialogContent"></div>
        </div>
    </div>


    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/mailtest.js")'></script>
}
