@import models.Database.Project
@import models.Database.User

@(pro: Project, owner: User, users: List[User])

@main(title = pro.getName()) {
    <div id="editProject_content">

        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/editProject.css")' />

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>@pro.getName()</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="editProject_name"><h4>Projektname</h4></label>
                    <input type="text" class="form-control" name="editProject_name" id="editProject_name" value="@pro.getName()" title="Name des Projektes">
                </div>
                <div class="col-md-6">
                    <label for="editProject_owner"><h4>Projektadmin</h4></label>
                    <input type="text" class="form-control" name="editProject_owner" id="editProject_owner" value="@owner" title="Name des Projektadmins" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="editProject_description"><h4>Beschreibung</h4></label>
                        <textarea class="form-control" name="editProject_description" id="editProject_description" rows="6" title="Beschreibung des Projektes">@pro.getBeschreibung()</textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="editProject_userList"><h4>Teilnehmer</h4></label>
                    <ul class="list-group" id="editProject_userList">
                        @users.map { u =>
                        <li class="list-group-item">
                            <span>@u.getFirstname() @u.getLastname() @u.getEmail()</span>
                            <button type="button" class="btn btn-danger btn-sm pull-right">
                                <span class="fa fa-trash"></span>
                            </button>
                        </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button id="editProject_btn_ok" class="btn btn-lg btn-success" type="button"><i class="fa fa-check-circle"></i> Speichern</button>
                        <button id="editProject_btn_reset" class="btn btn-lg" type="reset"><i class="fa fa-repeat"></i> Zurücksetzen</button>
                    </div>
                </div>
            </div>
        </div>

        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/editProject.js")'></script>
    </div>
}