@()

@main("Welcome to Play") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <div class="v-wrap">
    <img src="@routes.Assets.versioned("images/playcamp_logo_full_500.png")" />
  </div>

  <div class="v-wrap">
    <h1>Welcome to Play! NEW Test! LATEST!</h1>
    <a href="http://www.nooooooooooooooo.com/">nooooooooooooooo</a>
  </div>

  <div>

    <button  id="target" type="button" class="btn btn-primary">Primary</button>
    <button  id="other" type="button" class="btn btn-secondary">Secondary</button>

  <div id="login"> </div>

}
