@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@import models.Database.User
@(page: String, isLoggedIn: Boolean, user: User)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
            @* Here's where we render the page title `String`. *@
            <title>@page</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            <link rel="stylesheet" href='@routes.Assets.versioned("bootstrap/css/bootstrap.css")' />
            <link rel="stylesheet" href='@routes.Assets.versioned("font_awesome/css/font-awesome.min.css")' />
            <script type='text/javascript' src='@routes.Assets.versioned("jquery/jquery-3.3.1.js")'></script>
            <script type='text/javascript' src='@routes.Assets.versioned("bootstrap/js/bootstrap.js")'></script>
    </head>
    <body>
        @content
            <!-- Responsive navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <!--  Display three horizontal lines when navbar collapsed. -->
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">playHome</a>
                </div>
                 <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @if(isLoggedIn) {
                         <li><p class="navbar-text">@user.getEmail()</p></li>
                            <li><a href="@routes.LoginController.logout()">Logout</a></li>
                         } else {
                                <li><a href="@routes.LoginController.login()">Login</a></li>
                                }

                    </ul>
                 </div>
            </div>
        </div>

    </body>
</html>
