<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile Seite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    img {
  border-radius: 50%;
}
</style>


</head>
<body>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/38283022_2217182725180355_607622500972494848_n.jpg?_nc_cat=110&_nc_ht=scontent-frt3-2.xx&oh=81974e70cad24a2db1d4a960eb5e2726&oe=5CAE71FA"  alt=""style="width:200px" />
                    <br>
                    <div class="file btn btn-lg btn-primary">
                        Foto ändern
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        <b>Marwen Romdhani</b>
                    </h5>
                    <h6>
                        PlayCamp Projekt
                    </h6>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>ARBEITSLINK</p>
                    <a href="">Website Link</a><br/>
                    <a href=""> Profile</a><br/>
                    <a href=""> Profile</a>
                    <p>KOMPETENZEN</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">Play Framework</a><br/>
                    <a href="">HTML, C++</a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>Marwen123</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>Marwen Romdhani</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>S0560575@htw-berlin.de</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Handy</label>
                            </div>
                            <div class="col-md-6">
                                <p>01577 1354342</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Beruf</label>
                            </div>
                            <div class="col-md-6">
                                <p>Web Developer and Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Erfahrung</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Stundensatz</label>
                            </div>
                            <div class="col-md-6">
                                <p>10 Eu/ST</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Projekte insgesamt</label>
                            </div>
                            <div class="col-md-6">
                                <p>****</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Englisch Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>GUT</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Verfügbarkeit</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 months</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>